<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Drummer <%= drummer.id %></h1>
    <div>
      <p><%= drummer.name %></p>
    </div>
    <footer><a href="/">Back to Main</a></footer>
  </body>
</html>
