<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <h1><%= drummer.name %></h1>
      <p><strong>Price per gig:</strong> $<%= drummer.pricePerGig %></p>
      <p><strong>Equipment List:</strong></p>
      <ul>
        <% equipments.forEach((element) => { %>
        <li><%= element.name %></li>
        <% }) %>
      </ul>
      <a href="/reservation/<%= drummer.id %>">Reserve</a>
    </div>
    <hr />
    <footer><a href="/">Back to Main</a></footer>
  </body>
</html>
