<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Drummers</h1>
    <div>
      <% drummers.forEach((drummer) => { %>
      <p><%= drummer.name %></p>
      <% }) %>
    </div>
  </body>
</html>
